html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: white;
  background-color: #d3d3d3;
  text-align: center;
  font-size: 1em;
}

li:nth-child(-n+4) .circle {
  background-color: #000 
}

li:nth-child(5) .circle {
    background-color: green 
}

.week-holder{
  height: 380px;
  min-width: 500px;
  overflow-y: scroll;
}
